NODE_ENV=development
HOST=127.0.0.1
PORT=4301

POSTGRES_PASSWORD=change_me_postgres_password
REDIS_PASSWORD=change_me_redis_password
JWT_SECRET=change_me_jwt_secret_minimum_32_chars_ok

ALLOW_PUBLIC_REGISTRATION=true

TURN_SECRET=change_me_turn_secret_1234567890
TURN_DOMAIN=127.0.0.1
TURN_EXTERNAL_IP=127.0.0.1
TURN_PORT=54478
TURNS_PORT=56549
TURN_MIN_PORT=56000
TURN_MAX_PORT=56199

MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=change_me_minio_secret_value
S3_BUCKET=seclettr-attachments
S3_REGION=us-east-1

SFU_URL=http://127.0.0.1:4302
ANNOUNCED_IP=127.0.0.1

CORS_ORIGIN=https://localhost:5173,http://localhost:5173,https://127.0.0.1:5173,http://127.0.0.1:5173,https://localhost:5174,http://localhost:5174,https://127.0.0.1:5174,http://127.0.0.1:5174

DEV_POSTGRES_PORT=57432
DEV_REDIS_PORT=58379
DEV_MINIO_API_PORT=59100
DEV_MINIO_CONSOLE_PORT=59101
DEV_TURN_PORT=54478
DEV_TURNS_PORT=56549
DEV_API_PORT=4301
DEV_SFU_PORT=4302

POSTGRES_HOST_PORT=57432
REDIS_HOST_PORT=58379
MINIO_API_HOST_PORT=59100
MINIO_CONSOLE_HOST_PORT=59101
API_HOST_PORT=4301
